<div class="result-page">

<h1>計算結果</h1>

<p><strong>CF:</strong> <%= number_with_delimiter(@cf.round) %>円</p>
<p><strong>債務償還年数:</strong>
  <%= @debt_service_years ? @debt_service_years.round : "算出不可" %> 年
</p>
 <div class="result-actions">
<%= form_with model: @calculation, url: calculations_path, method: :post, data: { turbo: false } do |f| %>
      <%= f.hidden_field :operating_profit %>
      <%= f.hidden_field :depreciation %>
      <%= f.hidden_field :borrowing %>
      <%= f.hidden_field :operating_cf, value: @cf %>
      <%= f.hidden_field :debt_service_years, value: @debt_service_years %>
      <%= f.submit "保存する", class: "btn-save" %>
<% end %>

    <%= link_to "再計算する",
      new_calculation_path(
        operating_profit: @calculation.operating_profit,
        depreciation: @calculation.depreciation,
        borrowing: @calculation.borrowing
      ),
      class: "btn-recalculate" %>
</div>
</div>