<%= stylesheet_link_tag 'mypage', media: 'all', 'data-turbo-track': 'reload' %>

<div class="mypage-container">
  <div class="mypage-header">
    <div class="username">
      <strong><%= @user.username %></strong>
    </div>
    <div class="profile-edit">
      <%= link_to '登録内容編集', edit_user_registration_path, class: "btn-link" %>
    </div>
  </div>

  <main class="mypage-main">
    <div class="mypage-main-header">
      <h2>計算結果履歴</h2>
      <% if @calculations.present? %>
      <a href="<%= new_calculation_path %>" class="calculation-btn">計算スタート</a>
      <% end %>
    </div>

    <% if @calculations.present? %>
      <div class="calc-history-table">
        <div class="calc-history-header">
          <div>日付</div>
          <div>借入必要額</div>
          <div>CF</div>
          <div>償還年数</div>
          <div>操作</div>
        </div>

        <% @calculations.each do |calc| %>
          <div class="calc-history-row">
            <div><%= calc.created_at.strftime('%Y/%m/%d') %></div>
            <div><%= number_with_delimiter(calc.borrowing) %>円</div>
            <div><%= number_with_delimiter(calc.operating_cf.round) %>円</div>
            <div>
              <% if calc.debt_service_years.is_a?(Numeric) %>
                <%= calc.debt_service_years.round %> 年
              <% else %>
                算出不可
              <% end %>
            </div>
            <div>
              <%= link_to "削除", calculation_path(calc),
                  data: { turbo_method: :delete, turbo_confirm: "この計算結果を削除しますか？" },
                  class: "btn-delete" %>
            </div>
          </div>
        <% end %>

        <div class="pagination">
          <%= paginate @calculations %>
        </div>
      </div>
    <% else %>
      <div class="no-calculation-wrapper">
        <p>計算結果がまだありません。</p>
        <a href="<%= new_calculation_path %>" class="calculation-btn">計算スタート</a>
    <% end %>
  </main>
</div>

